{%- if section.blocks.size > 0 and section.settings.show_announcement_bar -%}
  <div class="announcement-bar swiper-container">
    <div class="messages swiper-wrapper" {{ section.settings.content_alignment }}>
      {%- for block in section.blocks -%}
        <div class="message swiper-slide">{{ block.settings.message }}</div>
      {%- endfor -%}
    </div>
    <div class="swiper-button swiper-button-prev"></div>
    <div class="swiper-button swiper-button-next"></div>
  </div>

  <script src="//cdn.jsdelivr.net/npm/swiper/swiper-bundle.min.js"></script>
  <link rel="stylesheet" href="//cdn.jsdelivr.net/npm/swiper/swiper-bundle.min.css">
  <script>
    const swiper = new Swiper('.swiper-container', {
      {%- if section.settings.autoplay %}
      autoplay: {delay: {{section.settings.delay}} },
      {%- endif -%}
      loop: true,
      navigation: {
        nextEl: '.swiper-button-next',
        prevEl: '.swiper-button-prev',
      },
    });
  </script>
  <style>
      .announcement-bar{
        background:{{section.settings.colorBackground}};
        position: relative;
        overflow: hidden;
      }
      .announcement-bar .message{
        text-align:center;
        color:{{section.settings.colorText}};
        padding:0 7%;
      }
      .announcement-bar .swiper-button-next:after, .announcement-bar .swiper-container-rtl .swiper-button-prev:after,
      .announcement-bar .swiper-button-prev:after, .announcement-bar .swiper-container-rtl .swiper-button-next:after{
        font-size: 15px;
        color:{{section.settings.colorText}};
      }
        .accordion.left {
     text-align:left;
    }

    .swiper.right{
    text-align:right;
    }
      .swiper.left{
        text-align:left;
      }
      .swiper.right{
        text-align:right;
      }
      {%- if  section.blocks.size < 2 %}
      .announcement-bar .swiper-button{display:none!important;}
      {%- endif -%}
  </style>
{%- endif -%}

{% schema %}
  {
    "name": "Announcement Bar",
    "settings": [
      {
        "type": "checkbox",
        "id": "show_announcement_bar",
        "label": "Show"
      },
      {
        "type": "checkbox",
        "id": "autoplay",
        "label": "Autoplay"
      },
      {
        "type": "text",
        "id": "delay",
        "label": "Delay between transitions (in ms)",
        "default": "5000"
      },
      {
        "type": "color",
        "id": "colorBackground",
        "label": "Background color",
        "default": "#ffffff"
      },
      {
        "type": "color",
        "id": "colorText",
        "label": "Text color",
        "default": "#000"
      },
       {
      "type": "select",
      "id": "content_alignment",
      "options": [
        {
          "value": "left",
          "label": "t:sections.rich-text.settings.content_alignment.options__1.label"
        },
        {
          "value": "center",
          "label": "t:sections.rich-text.settings.content_alignment.options__2.label"
        },
        {
          "value": "right",
          "label": "t:sections.rich-text.settings.content_alignment.options__3.label"
        }
      ],
      "default": "center",
      "label": "t:sections.rich-text.settings.content_alignment.label"
    }
],
"blocks": [
      {
        "type": "header",
        "name": "Message",
        "settings": [
{
              "id": "message",
              "type": "textarea",
             "label": "Message"
            }
        ]
      }
]
  }
{% endschema %}
