<div class="page-width" data-section-id="{{ section.id }}" data-section-type="quotes">
  {% if section.settings.title != blank %}
    <div class="section-header text-center">
      <h2>{{ section.settings.title | escape }}</h2>
    </div>
  {% endif %}

  {% if section.blocks.size > 0 %}
    <div class="quotes-wrapper">
      <div class="quotes-slider" id="Quotes-{{ section.id }}" data-count="{{ section.blocks.size }}">
        {% for block in section.blocks %}
          <div class="quotes-slide--{{ block.id }}" {{ block.shopify_attributes }}>
            <div class="testimonial-box">
              {% if block.settings.quote != blank %}
                <div class="testimonial-description">{{ block.settings.quote }}</div>
              {% endif %}
              {% if block.settings.author != blank %}
                <div class="testimonial-author">{{ block.settings.author | escape }}</div>
              {% endif %}
              {% if block.settings.upload_image != blank %}
                <div class="testimonial-image">
                  <img src="{{ block.settings.upload_image | img_url: '200x200', scale: 2 }}" alt="">
                </div>
              {% endif %}
            </div>
          </div>
        {% endfor %}
      </div>
    </div>
  {% endif %}

  {% if section.blocks.size == 0 %}
    {% include 'no-blocks' %}
  {% endif %}
</div>
{% javascript %}
  $(document).ready(function() {
    // Initialize slick slider
    $('#Quotes-{{ section.id }} .quotes-slider').slick({
      autoplay: true, // Add autoplay option
      autoplaySpeed: 5000, // Set duration between slide transitions
      arrows: false,
      dots: true,
      infinite: true,
      speed: 500,
      fade: true,
      cssEase: 'linear'
    });
  });
{% endjavascript %}

{% stylesheet %}
  .testimonial-box {
    border: 1px solid black;
    padding: 20px;
    margin-bottom: 20px;
    display: flex;
    flex-wrap: wrap;
  }
  .testimonial-description {
    margin-bottom: 10px;
  }
  .testimonial-author {
    font-style: italic;
    font-size: 16px;
  }
  .testimonial-image {
    margin-left: 20px;
  }
{% endstylesheet %}

{% schema %}
{
"name": "Testimonials",
"class": "index-section",
"max_blocks": 9,
"settings": [
{
"type": "text",
"id": "title",
"label": "Heading",
"default": "Testimonials"
}
],
"blocks": [
{
"type": "quote",
"name": "Testimonial",
"settings": [
{
"type": "richtext",
"id": "quote",
"label": "Text",
"default": "<p>Add customer reviews and testimonials to showcase your store’s happy Customers.</p>"
},
{
"type": "text",
"id": "author",
"label": "Author",
"default": "Author's name"
},
     {
          "type":"image_picker",

          "id":"upload_image",
          "label":"upload a image",

          "info":"image size will be 200x200px "
        }
]
}
],

"presets": [
{
"name": "Testimonials",
"category": "Text",
"blocks": [
{
"type": "quote"
},
{
"type": "quote"
},
{
"type": "quote"
},
  {
  "type": "quote"
  }
]
}
]
}
{% endschema %}
