<div class="page-width" data-section-id="{{ section.id }}" data-section-type="quotes">
  {% if section.settings.title != blank %}
    <div class="section-header text-center">
      <h2>{{ section.settings.title | escape }}</h2>
    </div>
  {% endif %}

  {% if section.blocks.size > 0 %}
    <div class="quotes-wrapper">
      <div class="quotes-slider" id="Quotes-{{ section.id }}" data-count="{{ section.blocks.size }}">
        {% for block in section.blocks %}
          <div class="quotes-slide--{{ block.id }}" {{ block.shopify_attributes }}>
            <div class="testimonial-box">
              {% if block.settings.upload_image %}
                <div class="testimonial-image">
                  <img
                    src="{{ block.settings.upload_image | img_url: '500x500' }}"
                    alt="{{ block.settings.author | escape }}"
                  >
                </div>
              {% endif %}
              <div class="testimonial-description">
                {% if block.settings.quote != blank %}
                  <div class="rte-setting">{{ block.settings.quote }}</div>
                {% endif %}
                {% if block.settings.author != blank %}
                  <div class="author-name">{{ block.settings.author | escape }}</div>
                {% endif %}
              </div>
            </div>
          </div>
        {% endfor %}
      </div>
    </div>
  {% endif %}

  {% if section.blocks.size == 0 %}
    {% include 'no-blocks' %}
  {% endif %}
</div>

{% stylesheet %}
  .testimonial-box {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background-color: #f2f2f2;
    border-radius: 10px;
    padding: 20px;
    margin-bottom: 20px;
  }

  .testimonial-image {
    width: 100px;
    height: 100px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 20px;
    border-radius: 50%;
  }

  .testimonial-image img {
    max-width: 100%;
    max-height: 100%;
    object-fit: cover;
  }

  .testimonial-description {
    flex: 1;
  }
{% endstylesheet %}

{% schema %}
{
"name": "Testimonials",
"class": "index-section",
"max_blocks": 9,
"settings": [
{
"type": "text",
"id": "title",
"label": "Heading",
"default": "Testimonials"
}
],
"blocks": [
{
"type": "quote",
"name": "Testimonial",
"settings": [
{
"type": "richtext",
"id": "quote",
"label": "Text",
"default": "<p>Add customer reviews and testimonials to showcase your store’s happy Customers.</p>"
},
{
"type": "text",
"id": "author",
"label": "Author",
"default": "Author's name"
},
     {
          "type":"image_picker",

          "id":"upload_image",
          "label":"upload a image",

          "info":"image size will be 200x200px "
        }
]
}
],

"presets": [
{
"name": "Testimonials",
"category": "Text",
"blocks": [
{
"type": "quote"
},
{
"type": "quote"
},
{
"type": "quote"
},
  {
  "type": "quote"
  }
]
}
]
}
{% endschema %}
