{% schema %}
{
  "name": "Testimonials",
  "class": "index-section",
  "max_blocks": 9,
  "settings": [
    {
      "type": "text",
      "id": "title",
      "label": "Heading",
      "default": "Testimonials"
    }
  ],
  "blocks": [
    {
      "type": "quote",
      "name": "Testimonial",
      "settings": [
        {
          "type": "richtext",
          "id": "quote",
          "label": "Quote",
          "default": "<p>Add customer reviews and testimonials to showcase your store's happy customers.</p>"
        },
        {
          "type": "text",
          "id": "author",
          "label": "Author",
          "default": "Author's name"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Testimonials",
      "category": "Text",
      "blocks": [
        {
          "type": "quote"
        },
        {
          "type": "quote"
        },
        {
          "type": "quote"
        }
      ]
    }
  ]
}
{% endschema %}

{% assign section_id = section.id | handleize %}

{% stylesheet %}
    #{{ section_id }} .testimonial-slider {
      margin: 0 auto;
      max-width: 700px;
    }
    #{{ section_id }} .testimonial {
      text-align: center;
    }
    #{{ section_id }} .testimonial-text {
      font-size: 1.5rem;
      margin-bottom: 1rem;
    }
    #{{ section_id }} .testimonial-author {
      font-size: 1.2rem;
    }
    #{{ section_id }} .slick-prev,
  #{{ section_id }} .slick-next {
    background-color: red;
  }
{% endstylesheet %}

{% if section.blocks.size > 0 %}
  <section id="{{ section_id }}">
    {% if section.settings.title != blank %}
      <h2 class="text-center">{{ section.settings.title }}</h2>
    {% endif %}

    <div class="testimonial-slider">
      {% for block in section.blocks %}
        <div class="testimonial">
          <div class="testimonial-text">{{ block.settings.quote }}</div>
          {% if block.settings.author != blank %}
            <div class="testimonial-author">{{ block.settings.author }}</div>
          {% endif %}
        </div>
      {% endfor %}
    </div>

    <script>
      $(document).ready(function(){
        $('.testimonial-slider').slick({
          dots: true,
          infinite: true,
          speed: 300,
          slidesToShow: 1,
          adaptiveHeight: true
        });
      });
    </script>
  </section>
{% endif %}
